<body>
<script type="text/javascript" src="/assets/renren.js"></script>
<div class="wrap renren_border">
  <div class="main_Div">
    <img style="height:597px;" src="/assets/login_pic6.png" />
    <%# unless params[:xn_sig_added]=="1" %>
      <%#*<div id="hidden_iframe" style="display:none;">%>
        <%#*<script type="text/javascript">%>
          <%#*var uiOpts = {%>
            <%#*url : "http://graph.renren.com/oauth/authorize",%>
            <%#*display : "iframe",%>
            <%#*params : {"response_type":"token","client_id":"<%= @client_id %>"},%>
            <%#*onSuccess: function(r){%>
              <%#*window.location =  "/similarities?category=<%= Category::LEVEL_SIX %>&web=renren&appid=<%=@client_id %>";%>
            <%#*}%>
          <%#*};%>
          <%#*var root_flag = 0;%>
          <%#*Renren.ui(uiOpts);%>
        <%#*</script>%>
      <%#*</div>%>
    <%# else %>
      <script type="text/javascript">
        $(function(){
          setTimeout(function(){
            window.location.href = "/similarities?category=<%= Category::LEVEL_SIX %>&web=renren&appid=<%=@client_id %>";
          },1500)
        })
      </script>
<%# end %>
<%#*</div>%>
  <div class="foot">Powered by赶考网&copy; 2010-2012</div>
</div>
</body>