<% category_id = params[:category].nil? ? '2' : params[:category] %>
<script type="text/javascript">
  var shared = 0;
  var web = "<%= @web %>";
  var public_path = "<%= Constant::PUBLIC_PATH %>";
  var server_path = "<%= Constant::SERVER_PATH %>";
  var category_id = "<%= category_id %>";
</script>
<script type="text/javascript" src="/assets/index.js"></script>
<body>
  <div class="wrap renren_border">
    <div class="main_Div" <% if @web=="baidu" %> style="background: #EFEDE7;" <% end %> >
      <div class="m_box">
        <h1>新大学英语<%= Category::NAME["#{category_id}"] %>真题（2006.12-2011.12）</h1>
        <div class="zhenti_list">
          <ul>
            <% if @similarities.blank? %>
              <p>暂无大学英语<%= Category::NAME["#{category_id}"] %>真题</p>
            <% else %>
              <% @similarities.each do |similarity| %>
                <li class="similarities_li">
                  <a href="/similarities/<%= similarity.id %>?category=<%= category_id %>&web=<%=@web  %>">
                    <h2><%= similarity.title %></h2>
                  </a>
                </li>
              <% end %>
            <% end %>
          </ul>
          <%=  will_paginate @similarities ,:previous_label=>" &lt;", :next_label=>" &gt;" %>
        </div>
      </div>
    </div>
    <div class="foot">Powered by 赶考网 &copy; 2010-2012，如有问题请联系qq:2568830556</div>
  </div>
</body>

