
<% category_id = params[:category].nil? ? '2' : params[:category] %>
<% @web = params["web"].nil? ? "renren" : params["web"] unless @web %>
<body <% if @web=="kaixin" %> onload="setHeight();"<% end %>>
  <div class="wrap renren_border">
    <div class="main_Div">
      <div class="m_box">
        <h1>新大学英语<%= Category::NAME["#{category_id}"] %>真题（2006.12-2011.12）</h1>
        <div class="zhenti_list">
          <ul>
            <% if @similarities.blank? %>
              <p>暂无大学英语<%= Category::NAME["#{category_id}"] %>真题</p>
            <% else %>
              <% @similarities.each do |similarity| %>
                <li>
                  <% if is_vip?(category_id) %>
                    <a href="/similarities/<%= similarity.id %>/join?category=<%= category_id %>&web=<%= @web %>" <% if @objects[similarity.id]&&@objects[similarity.id][1] %>
                         onclick="return already_submit('<%= @objects[similarity.id][0] %>','<%= @objects[similarity.id][2] %>')" <% end %>>
                         <% if @objects[similarity.id]&&@objects[similarity.id][1] %>
                        <span><img class="tooltip" name="已完成" src="/assets/icon_wc.png" /></span>
                      <% elsif @objects[similarity.id] %>
                        <span><img class="tooltip" name="未做完" src="/assets/icon_nun.png" /></span>
                      <% elsif !similarity.is_free %><span><img class="tooltip" name="仅供正式用户使用" src="/assets/icon_tx.png" /></span>
                      <% end %>
                      <h2><%= similarity.title %></h2>
                    </a>
                  <% elsif is_nomal?(category_id) %>
                    <a href="javascript:void(0);" onclick='javascript:tishi_share();'>
                      <% unless similarity.is_free %><span><img class="tooltip" name="仅供正式用户使用" src="/assets/icon_tx.png" /></span><% end %>
                      <h2><%= similarity.title %></h2>
                    </a>
                  <% else %>
                    <% if similarity.is_free %>
                      <a href="/similarities/<%= similarity.id %>/join?category=<%= category_id %>&web=<%= @web %>" <% if @objects[similarity.id]&&@objects[similarity.id][1] %>
                           onclick="return already_submit('<%= @objects[similarity.id][0] %>','<%= @objects[similarity.id][2] %>')" <% end %>>
                           <% if @objects[similarity.id]&&@objects[similarity.id][1] %>
                          <span><img class="tooltip" name="已完成" src="/assets/icon_wc.png" /></span>
                        <% elsif @objects[similarity.id] %>
                          <span><img class="tooltip" name="未做完" src="/assets/icon_nun.png" /></span>
                        <% end %>
                        <h2><%= similarity.title %></h2>
                      </a>
                    <% else %>
                      <a href="javascript:void(0);"
                         onclick='javascript:tishi_share();'>
                        <span><img class="tooltip" name="仅供正式用户使用" src="/assets/icon_tx.png" /></span>
                        <h2><%= similarity.title %></h2>
                      </a>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
          <%=  will_paginate @similarities ,:previous_label=>" &lt;", :next_label=>" &gt;" %>
        </div>

        <% order_type = {"renren"=>Order::TYPES[:RENREN]} %>

        <script type="text/javascript">
          var shared = 0;
          function already_submit(eu_id,sheet_url){
            if(confirm("你已经做完了该真题，你想重做该真题么？\n 点击\"确定\"重做，点击\"取消\"只浏览试题")){
              sheet_url = "<%= Constant::PUBLIC_PATH %>"+sheet_url;
              window.location.href="/similarities/"+eu_id+"/redo_paper?category="+<%= category_id %>+"&sheet_url="+sheet_url+"&type=similarities&web=<%= @web %>";
              return false;
            }else{
              return true;
            }
          }

          function tishi_share(){
            if(shared == 0){
              $('#free_sum_div').show();
              $('#display_free_sum').html("");
<% if @web == "renren" %>
        $.ajax({
          type: "GET",
          url: "/similarities/ajax_free_sum.json",
          dataType: "json",
          data : {
            "category":"<%= category_id %>",
            "order_type":<%= order_type[@web] %>
          },
          success: function(data){
            $('#display_free_sum').html(data.message);
          }
        });
<% end %>
    }else{
      tishi_alert("请等待页面刷新");
    }
  }

  function confirm_share(){
    $('#free_sum_div').hide();
    $('#confirm_share_div').show();
  }

  function share(){
    $('#confirm_share_div').hide();
    $.ajax({
      type: "GET",
      url: "/similarities/renren_share"+<%= "#{(category_id == '2') ? '4' : '6'}" %>+".json",
      dataType: "json",
      success: function(data){
        tishi_alert(data.message);
        if(data["error"]==null){
          shared = 1;
          window.location.href="/similarities/refresh?category=<%= category_id %>"
        }
      }
    });
  }

          
        </script>
      </div>
    </div>

    <div id="free_sum_div" class="rr_tab tab_box border_radius" style="display:none;">
      <span class="xx_x"><img src="/assets/x.gif" onclick="javascript:$('#free_sum_div').hide();" /></span>
      <div class="tab_con">
        <div>这是一套收费试卷，只有正式的用户才可以试用。</div>
      </div>
      <div><% if @web=="kaixin" %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <% end %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="t_btn" onclick="javascript:window.open('<%= Constant::GANKAO_URL %>/users/renren?category=<%= category_id %>&user_id=<%= cookies[:user_id] %>&code_id=<%= @code_id %>')">付费</button> <% if @web=="renren" %>  &nbsp;<button class="t_btn" onclick="javascript:confirm_share();">抢免费名额</button>&nbsp;<span id="display_free_sum" class="red"></span><% end %></div>
    </div>

    <div id="confirm_share_div" class="rr_tab tab_box border_radius" style="display:none;">
      <span class="xx_x"><img src="/assets/x.gif" onclick="javascript:$('#free_sum_div').hide();" /></span>
      <div class="tab_con">
        <div>领取免费名额，我们将发送一条新鲜事到您的主页来宣传我们的应用，感谢您的支持。确认领取吗？</div>
      </div>
      <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="t_btn" onclick="javascript:share();">确认</button>   &nbsp;&nbsp;<button class="t_btn" onclick="javascript:$('#confirm_share_div').hide();">取消</button>&nbsp;&nbsp;</div>
    </div>
    
    <!--
    <%# if @web=="renren" && cookies[:first] %>
            <div id="guanzhu_div" class="tab_box_guanzhu border_radius">
              <iframe width="500" height="300" src="http://widget.renren.com/dialog/friends?target_id=<%= Constant::RENREN_ID %>&app_id=<%= params["appid"] %>&redirect_uri=<%= Constant::SERVER_PATH %>/similarities/close_window"></iframe>
            </div>
    <%# end %>
    -->

    <div class="foot">Powered by <a href="http://www.gankao.co" target="_blank">赶考网</a> &copy; 2010-2012</div>
  </div>
</body>

