
<script type="text/javascript">
  var load_time = setTimeout(function(){
    $("#load_message").html("SORRY,此份试题好像存在问题，管理员会尽快解决此问题，给您带来的不便敬请谅解。");
  },20000);
</script>
<% category_id = params[:category].nil? ? '2' : params[:category] %>
<% @web = params["web"].nil? ? "renren" : params["web"] unless @web %>
<!-- 初始化播放器  -->
<%= render :partial=>"/common/flowplayer" %>
<div id="log"></div>
<div class="m_top">
  <h1 class="ex_paper_h"><%= @paper.title %></h1>
  <div class="icon_func">
    <div class="float_right">
      <span class="icon_prev"><a href="javascript:void(0);" class="tooltip" name="上一题" onclick="javascript:click_prev_problem();">上一题</a></span>
      <span class="problem_title"><font id="global_problem_index"></font>/<font id="global_problem_sum"></font></span>
      <span class="icon_next"><a href="javascript:void(0);" class="tooltip" name="下一题" onclick="javascript:click_next_problem();" >下一题</a></span>
      <span class="icon_big"><a href="javascript:void(0);" class="tooltip" onclick="javascript:ts('body',-1);" name="缩小">缩小</a></span>
      <span class="icon_small"><a href="javascript:void(0);" class="tooltip" onclick="javascript:ts('body',1);" name="放大">放大</a></span>
      <span class="icon_return"><a href="/similarities?category=<%= category_id %>&web=<%= @web %>" class="tooltip" name="返回">返回</a></span>
    </div>
    <span class="icon_again"><a href="javascript:void(0);" class="tooltip" name="重做" onclick="javascript:confirm_redo('<%= @web %>');">重做</a></span>
  </div>
  <% if @web=="sina" %>
    <style type="text/css">
      .AD_width { width: 340px;}
    </style>
  <% elsif @web=="qq" %>
    <style type="text/css">
      .AD_width { width: 350px;}
    </style>
  <% else %>
    <style type="text/css">
      .AD_width { width: 360px;}
    </style>
  <% end %>
  <%#= render :partial=>"/common/advert",:object=>@web %>
</div>

<!-- 试题生成入口 generate.js -->
<div id="generate"><div style="height: 467px;"><center id="load_message" style="margin-top: 100px;font-size: large;">正在载入,请稍候....</center></div></div>

<%= javascript_include_tag "/assets/jquery.ui.core.min.js" %>
<%= javascript_include_tag "/assets/jquery.ui.widget.min.js" %>
<%= javascript_include_tag "/assets/jquery.ui.mouse.min.js" %>
<%= javascript_include_tag "/assets/jquery.ui.draggable.min.js" %>
<%= javascript_include_tag "/assets/jquery.ui.droppable.min.js" %>

<%= javascript_include_tag "#{@answer_js_url}" %>
<%= javascript_include_tag "#{@paper_js_url}" %>

<script type="text/javascript" >
  //初始化参数
  var sheet = null;
  var back_server_path = '<%= Constant::BACK_SERVER_PATH %>';
  var category = '<%= category_id %>';
  var init_exam_user_id ='<%= params[:id] %>';
  var init_paper_id = "<%= @paper_id %>";
  var init_problem = 0;
  var web = "<%= @web %>";
</script>

<%= javascript_include_tag "/assets/exam_user/init.js" %>