<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26018499-1']);
    _gaq.push(['_setDomainName', 'gankao.co']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <head>
    <title><%= @title.nil? ? "赶考网" : @title %></title>
    <% @web = params["web"].nil? ? "renren" : params["web"] unless @web %>
    <%= stylesheet_link_tag    "/assets/similarity.css" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <% if @web=="kaixin" %>
      <style type="text/css">
        .renren_border {width: 809px;}
        .main_Div {width: 807px;}
      </style>
    <% end %>

    <% if @web=="sina" %>
      <style type="text/css">
        .renren_border {width: 754px;}
        .main_Div {width: 752px;}
      </style>
    <% end %>
    <% if @web=="qq" %>
      <style type="text/css">
        .renren_border {width: 754px;}
        .main_Div {width: 752px;}
      </style>
    <% end %>
    <% if @web=="baidu" %>
      <script src="http://app.baidu.com/static/appstore/monitor.st"></script>
    <% end %>
    <!--[if IE 6]>
		<script src="/assets/DD_belatedPNG_0.0.8a-min.js"></script>
		<script>
		/* EXAMPLE */
		DD_belatedPNG.fix('*');
		/* string argument can be any CSS selector */
		/* .png_bg example is unnecessary */
		/* change it to what suits you! */
		</script>
		<![endif]-->
  </head>
  <body>
    <div class="wrap renren_border">
      <%= render :partial => "/common/flash_div"  %>
      <div class="clear"></div>
      <div class="main">
        <%= yield %>
        <div class="clear"></div>
      </div>
      <% if @web=="qq" %>
        <div class="foot">Powered by <a href="http://www.gankao.co" target="_blank">赶考网</a> &copy; 2010-2012，如有问题请联系qq:2568830556</div>
      <% else %>
        <div class="foot">Powered by <a href="http://www.gankao.co" target="_blank">赶考网</a> &copy; 2010-2012</div>
      <% end %>
    </div>
  </body>
</html>
